<div 
    class="status-tower" 
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="status"
>
    <div class="status-tower__header">
        <h2>{{statusLabels[status]}}</h2>
        <button mat-icon-button (click)="openCreateTaskDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="status-tower__tasks">
        <ng-container *ngFor="let todo of todos$ | async">
            <app-todo-card *ngIf="todo.status === status" [todo]="todo" />
        </ng-container>
    </div>
</div>