<div class="selector">
    <div class="selector__selected-text" (click)="expanded = !expanded">
        {{items[getSelectedIndex()].name}} <span #checkmark>✓</span>
        <span *ngIf="!expanded" class="chevron">▼</span> 
        <span *ngIf="expanded" class="chevron">▲</span>
    </div>
    <div *ngIf="expanded" class="selector__options">
        <div 
            *ngFor="let item of items" 
            class="selector__option" 
            (click)="onOptionClick(item)"
        >
            {{item.name}} <span class="dont-show" #option>✓</span>
        </div>
    </div>
</div>