.user-card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 250px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    width: 100%;
}

.user-card__selector {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
}

.user-card__selector button {
    width: 30%;
}