<div class="user-card">
    <p><b>Name: </b>{{user?.name}}</p>
    <p><b>Username: </b>{{user?.username}}</p>
    <p><b>Email: </b>{{user?.email}}</p>
    <p><b>Phone: </b>{{user?.phone}}</p>
    <div class="user-card__selector">
        <app-selector 
            [items]="roles" 
            [selected]="user?.role" 
            (onUpdate)="onSelectionChange($event)"
        />
        <button [disabled]="!selectedRole || selectedRole === user?.role" (click)="onUpdatePressed()">Обновить</button>
    </div>
    <button (click)="openDialog()">Изменить</button>
    <button (click)="deleteUser()">Удалить</button>
</div>