<div>
    <table>
        <tr class="table__head">
            <th scope="col">ID</th>
            <th scope="col">Отдел</th>
            <th scope="col" class="table__wide">Сотрудник</th>
            <th scope="col">Положение</th>
            <th class="table__numbers" *ngFor="let i of numbers" scope="col">{{ i }}</th>
        </tr>
        <tr scope="row" *ngFor="let worker of workers">
            <ng-template [ngIf]="worker.type === rowDataType.employee">
                <th scope="row">{{ asWorkSheduleRow(worker.data).employeeId }}</th>
                <td>{{ asWorkSheduleRow(worker.data).department }}</td>
                <td>{{ asWorkSheduleRow(worker.data).employee }}</td>
                <td>{{ employeeStatus[asWorkSheduleRow(worker.data).employeeStatus] }}</td>
                <td *ngFor="let i of numbers" scope="row" class="{{ asWorkSheduleRow(worker.data).collection[i] | dayColor }}">
                    <span>{{ asWorkSheduleRow(worker.data).collection[i].shift }}</span>
                    <br/>
                    <span class="table__brigade">Б. №{{ asWorkSheduleRow(worker.data).collection[i].departmentId }}</span>
                </td>
            </ng-template>
            <ng-template [ngIf]="worker.type === rowDataType.summary">
                <td class="table__summary" colspan="4">ИТОГО свободных сотрудников на <b>{{worker.data.department}}</b> на каждый день:</td>
                <td class="table__summary" *ngFor="let i of numbers" scope="row">{{worker.data.collection[i]}}</td>
            </ng-template>
        </tr>
    </table>
</div>