div {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;

    height: 80%;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

table {
    /* margin: 30px; */
    border-collapse: collapse;
    
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    overflow-y: auto;
    height: 100%;
}

th, td {
    text-align: left;
    background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #bbbbbb;
}

.table__wide {
    width: 150px;
}

.table__head th {
    background-color: #e0e0e0;

    position: sticky;
    top: 0;
}

.table__numbers {
    min-width: 30px;
    text-align: center;
}

.table__brigade {
    color: gray;
}

.day__green {
    background-color: #8ae070;
}
.day__green span {
    display: none;
}

.day__red {
    background-color: #e07070;
}

.day__uncompleted span {
    color: red !important;
}