<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
    <form [formGroup]="form" novalidate>
        <p *ngIf="form.controls.name.invalid && form.controls.name.touched">Введите имя!</p>
        <mat-form-field>
            <mat-label>Имя пользователя</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <p *ngIf="form.controls.username.invalid && form.controls.username.touched">Ник должен содержать не менее 4 символов и не более 20!</p>
        <mat-form-field>
            <mat-label>Ник</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <p *ngIf="form.controls.email.invalid && form.controls.email.touched">Почта должна быть валидной!</p>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <p *ngIf="form.controls.phone.invalid && form.controls.phone.touched">Номер должен содержать 10 цифр!</p>
        <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <app-selector formControlName="role" [items]="roles" [selected]="data.user?.role" />
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Отмена</button>
    <button [disabled]="form.invalid" mat-button (click)="submit()">Ok</button>
</mat-dialog-actions>