<h3 mat-dialog-title>Создание сотрудника</h3>
<mat-dialog-content>
    <form [formGroup]="form" novalidate>
        <p *ngIf="form.controls.name.invalid && form.controls.name.touched">Введите имя сотрудника!</p>
        <mat-form-field>
            <mat-label>Имя сотрудника</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <p *ngIf="form.controls.employeeStatus.invalid && form.controls.employeeStatus.touched">Укажите должность сотрудника!</p>
        <mat-form-field>
            <mat-label>Должность сотрудника</mat-label>
            <mat-select formControlName="employeeStatus">
                <mat-option *ngFor="let status of employeeStatus" [value]="status.value">{{ status.label }}</mat-option>
            </mat-select>
        </mat-form-field>

        <p *ngIf="form.controls.department.invalid && form.controls.department.touched">Укажите отдел сотрудника!</p>
        <mat-form-field>
            <mat-label>Отдел сотрудника</mat-label>
            <mat-select (valueChange)="departmentSelected($event)" formControlName="department">
                <mat-option *ngFor="let dep of departments" [value]="dep.label">{{ dep.label }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="form.invalid" (click)="submit()" mat-button><mat-icon>add</mat-icon>Создать</button>
    <button (click)="cancel()" mat-button>Закрыть</button>
</mat-dialog-actions>